/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1a202c;
    color: #e2e8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

/* Contenedor de la Introducción */
.introduccion-container {
    background-color: #2d3748;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
    max-width: 900px;
    width: 100%;
    text-align: center;
    animation: fadeIn 1s ease-out;
}

.introduccion-container h1 {
    color: #63b3ed;
    margin-bottom: 20px;
    font-size: 2.8em;
}

.introduccion-container p {
    font-size: 1.1em;
    margin-bottom: 30px;
    color: #cbd5e0;
    line-height: 1.8;
}

/* Resaltados de tecnología */
.highlight-green {
    color: #48bb78;
}

.highlight-orange {
    color: #f6ad55;
}

.highlight-red {
    color: #e53e3e;
}

/* Efecto de entrada */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Sección de Proyectos */
.proyectos-container {
    margin-top: 60px;
    text-align: center;
    background-color: #2d3748;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
    width: 100%;
}

.proyectos-container h2 {
    color: #63b3ed;
    margin-bottom: 30px;
    font-size: 2.5em;
}

.proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;
}

.proyecto {
    background-color: #4a5568;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.proyecto:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.imagen-proyecto {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.proyecto h3 {
    color: #e2e8f0;
    margin-bottom: 10px;
    font-size: 1.6em;
}

.proyecto p {
    color: #cbd5e0;
    margin-bottom: 20px;
    font-size: 1em;
}

.enlace {
    color: #48bb78;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.enlace:hover {
    color: #38a169;
    transform: scale(1.1);
}

/* Estilo para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .proyectos {
        grid-template-columns: 1fr 1fr; /* Dos columnas en pantallas pequeñas */
    }

    .proyectos-container {
        padding: 30px;
    }
}
