body {
  margin: 0;
  padding: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery {
  position: relative;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.item img {
  width: 100%;
  border-radius: 10px;
}


